### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Loading the dataset

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')
df.head(6)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00

# Quiz Answers

### Sum of Animal Fats

In [3]:
AFat = df.groupby('Item')['Y2014'].sum()
AFat = pd.DataFrame(AFat)
AFat.iloc[3]

Y2014    209460.54
Name: Animal fats, dtype: float64

In [4]:
BFat = df.groupby('Item')['Y2017'].sum()
BFat = pd.DataFrame(BFat)
BFat.iloc[3]

Y2017    269617.53
Name: Animal fats, dtype: float64

### Mean & Standard Deviation

In [5]:
round(df.Y2015.mean(),3) #135.236

135.236

In [6]:
round(np.std(df.Y2015), 3) #1603.390

1603.39

### Missing data for Y2016

In [7]:
df.Y2016.isnull().sum() #1535

1535

In [8]:
round((1535/60943)*100, 2)   #2.52 percent

2.52

### Highest Correlated Year

In [9]:
A = df.iloc[:, 4:12]
A = A.corr()
A['Element Code']
#Highest correlated year is 2014

Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

### Highest Imports

In [10]:
A = df.groupby('Element')[df.columns[7:12]].sum()
A.sum()
#2017 has the highest imports from all the options

Y2014    7965086.13
Y2015    8032340.23
Y2016    8112472.65
Y2017    8375729.19
Y2018    8554629.96
dtype: float64

### Sum of Production in Y2014

In [11]:
Prod = df.groupby('Element')["Y2014"].sum()
Prod = pd.DataFrame(Prod)
Prod.iloc[[11], [0]] #1931287.75

                 Y2014
Element
Production  1931287.75

### Elements with highest sum in Y2018

In [12]:
Highest = df.groupby('Element')["Y2018"].sum().sort_values(ascending=False)
Highest.head(1) #Domestic Supply Quantity

Element
Domestic supply quantity    2161192.1
Name: Y2018, dtype: float64

### Element with 3rd lowest sum in Y2018

In [13]:
A = df.groupby('Element')['Y2018'].count().sort_values(ascending=True)
Thirdlowest = pd.DataFrame(A)
Thirdlowest.iloc[[2], [0]]
#Element which had the 3rd lowest sum in 2018 is seed

         Y2018
Element
Seed       758

### Total Import Quantity

In [14]:
Imports = df.groupby('Area')["Y2018"].sum()
Imports = pd.DataFrame(Imports)
Imports.iloc[0]

Y2018    341729.98
Name: Algeria, dtype: float64

### Unique Countries

In [15]:
len(df.Area.unique()) #49

49

# Thanks!